        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            color: #333;
        }
        
        header {
            background-color: #4CAF50;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        
        header h1 {
            margin-bottom: 10px;
        }
        
        header p {
            font-family: Baskerville;
            font-size: 18px;
        }

        p {
            font-family: Baskerville;
            font-size: 18px;
        }
        
        nav {
            background-color: #333;
            padding: 10px 0;
            text-align: center;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            transition: color 0.3s;
        }
        
        nav a:hover {
            color: #4CAF50;
        }
        
        /* Contenido principal */
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }
        
        section {
            background-color: white;
            padding: 30px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        section h2 {
            margin-bottom: 20px;
        }
        
        section p {
            margin-bottom: 20px;
        }
        
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

          tr:hover {
        background-color: lightgreen;
        }


    

       table td{
            border: 1px solid purple;
          
        }

    
